Source: wingpanel-indicator-datetime
Section: x11
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: cmake,
               debhelper (>= 9),
               gobject-introspection,
               libecal1.2-dev,
               libedataserver1.2-dev,
               libical-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.12),
               libwingpanel-2.0-dev,
               valac (>= 0.28)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/wingpanel-indicator-datetime

Package: wingpanel-indicator-datetime
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: wingpanel
Description: WingPanel Date & Time Indicator
 WingPanel Date & Time Indicator

Package: wingpanel-indicator-datetime-dbg
Architecture: any
Section: debug
Priority: extra
Depends: wingpanel-indicator-datetime (= ${binary:Version}), ${misc:Depends}
Enhances: wingpanel-indicator-datetime
Description: WingPanel Date & Time Indicator (debugging symbols)
 WingPanel Date & Time Indicator
 .
 This package contains debugging symbols for wingpanel-indicator-datetime.
