Source: wingpanel-indicator-datetime
Section: x11
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               gobject-introspection,
               libecal2.0-dev | libecal1.2-dev,
               libedataserver1.2-dev,
               libical-dev,
               libgranite-dev,
               libgtk-3-dev (>= 3.12),
               libhandy-1-dev,
               libwingpanel-dev,
               meson,
               valac (>= 0.40.3)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/wingpanel-indicator-datetime

Package: wingpanel-indicator-datetime
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: elementary-default-settings (>= 5.2)
Enhances: wingpanel
Description: WingPanel Date & Time Indicator
 WingPanel Date & Time Indicator
