.event {
    background: alpha(@colorAccent, 0.15);
    border-radius: 3px;
    padding: 6px;
}

.event,
.event image {
    color: shade(@colorAccent, 0.65);
}
.event .title {
    font-weight: 600;
}
