.event {
    background-color: alpha(@eventcolorAccent, 0.15);
    color: shade(@eventcolorAccent, 0.65);
    padding: 10px;
}
.event .title {
    font-weight: 600;
}
.event .icon {
    color: shade(@eventcolorAccent, 0.65);
}
