.event {
    background: mix(@accent_color, shade (#fff, 0.96), 0.8);
    border-radius: 3px;
    padding: 6px;
}

.event,
.event image {
    color: shade(@accent_color, 0.65);
}

.event .title {
    font-weight: 600;
}
