.accent {
    font-weight: bold;
}

.circular {
    border-radius: 50%;
}

.circular:selected {
    background-color: @accent_color_300;
}

.circular:selected .accent {
    color: @bg_color;
}

grid:disabled .accent {
    color: @accent_color_300;
}

.event-dot,
.event-dot image {
    color: @accent_color;
}
